#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# This file is public domain software, originally written by Joey Hess. 

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_fixperms:
	dh_fixperms
	chmod 4755 debian/with/usr/bin/exec_with_namespace

override_dh_installinit:
	dh_installinit --name=with -- defaults 99
